.hero {
    padding-top: 190px;
    background-color: $black;
    height: 800px;

    @media (max-width: 682px) {
        padding-top: 103px;
        height: 750px;
    }

    @media (max-width: 550px) {
        padding-top: 103px;
        height: 87vh;
    }

    @media (max-width: 490px) {
        height: 85vh;
    }

    &__container {
        display: flex;
        justify-content: flex-end;
        padding: 0 0 0 30px;
        position: relative;

        @media (max-width: 682px) {
            flex-direction: column;
            padding: 0;
        }

        .container-image {
            width: 772px;
            height: 516px;
            position: relative;
            left: 600;
            opacity: 1;
            overflow:hidden;

            @media (max-width: 1145px) {
                width: 60%;
            }

            @media (max-width: 682px) {
                width: 100%;
                height: 259px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
                z-index: 3;
            }

            .video-container {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%; 
                overflow: hidden;
                border-left: 2px solid black;

                @media (max-width: 682px) {
                    border-left: initial;
                    border-top: 2px solid black;;
                }

                video {
                    min-width: 100%; 
                    min-height: 100%; 
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);

                    @media (max-width: 682px) {
                        min-width: none;
                        min-height: none;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }
            }
        

            .logo-play {
                display: none;
                @media (max-width: 682px) {
                    position: absolute;
                    z-index: 6;
                    width: 45px;
                    height: 45px;
                    background-color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: calc(50% - 22.5px);
                    left: calc(50% - 22.5px);
                }
            }
        }

        .title-text {
            color: white;
            height: 200px;
            width: 400px;
            text-align: right;
            position: relative;
            left: -1000px;
            margin-right: 46px;
            margin-bottom: 5px;
            opacity: 0;

            @media (max-width: 738px) {
                margin-right: 16px;
            }

            @media (max-width: 682px) {
                width: 100%;
                margin-bottom: 60px;
            }

            p {
                font-size: 34px;
                font-weight: 300;
                text-transform: uppercase;

                @media (max-width: 900px) {
                    font-size: 30px;
                }

                @media (max-width: 682px) {
                    text-align: center;
                    font-size: 28px;
                }

                &:nth-child(2) {
                    font-weight: 700;
                    width: 100%;
                    height: 50px;

                    @media (max-width: 900px) {
                       width: 80%;
                    }
                    
                    @media (max-width: 682px) {
                        font-size: 34px;
                        text-align: initial;
                        margin-left: 20px;
                    }

                    @media (max-width: 682px) {
                        font-size: 30px;
                        margin-left: 10px;
                    }
                }
            }
        }

        span {
            color: $white;
        }

        .onqor-logo {
            width: 728px;
            height: auto;
        }

        // &__light {
        //    position: absolute;
        //    background-color: white;
        //    // width: 100px;
        //    height: 50%;
        //    top: 0;
        //    box-shadow:
        //    0 0 60px 30px #fff,
        //    0 0 100px 60px rgb(255, 129, 129),
        //    0 0 140px 90px rgb(0, 229, 255);
        //    &-left {
        //    left: 0;
        //    transform: rotate(-45deg);
        //    transform-origin: top left;
        //    }
        //    &-right {
        //    right: 0;
        //    transform: rotate(45deg);
        //    transform-origin: top right;
        //    }
        //    &-middle {
        //    position: absolute;
        //    background-color: white;
        //    width: 30%;
        //    // height: 50px;
        //    top: 60%;
        //    box-shadow:
        //    0 0 60px 30px #fff,
        //    0 0 100px 60px rgb(253, 159, 255),
        //    0 0 140px 90px rgb(255, 121, 121);
        //    }
        //}   
    }
}