    .hero-service {
    padding: 0 130px;
    background-color: $black;
    height: 90vh;
    color: $white;
    position: relative;
    img {
        background-color: lavender;
        height: 540px;
        width: 60%;
        bottom: 22%;
        z-index: 1;
        object-fit: cover;
        left: 8%;
        max-width: 800px;
    }
    &__title {
        z-index: 3;
        position: absolute;
        top: 373px;
        left: 580px;
        height: fit-content;
        width: fit-content;
        
        h1::after {
            width: 25px;
            height: 25px;
            position: absolute;
            border-radius: 50%;
            background-color: var(--departmentColor);
        }
    }
}