.slider-words {
    width: 100%;
    position: relative;
    bottom: 0px;
    .slick-slider {
        width: 100%;
        .slick-track {
          display: flex;
          align-items: flex-end;
          flex-wrap: nowrap;
          height: fit-content;
          justify-content: center;
        }
        .slick-slide{
          float: none;
          display: inline-block;
          vertical-align: middle;
          padding: 10px 0px;
          width: fit-content;
          margin: 0 30px;
          transition: all 0.3s ease;
          height: auto;
          p {
            font-size: 20px !important;
            &::after {
              content: "•";
              position: relative;
              left: 30px;
              font-size: 20px !important;
            }
            @media (max-width: 550px) {
              font-size: 14px !important;
              width: fit-content;
              margin-top: 15px;
            }
          }
        }
    }
}