.tabs-affiliates {
    @include padding;
    &__title {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0 100px 0;
        @media (max-width: $tablet) {
        margin: 0 0 50px 0;
            h1 {
                font-size: 75px;
                line-height: 127.5px;
            }
        }
    }
    &__content {
        text-align: center;
        &__text {
            text-align: left;
            h4 {
                margin: 70px 0 0 0;
            }
            p:nth-child(3) {
                margin: 45px 0 0 0;
            }
        }
        @media (max-width: $tablet) {
            display: none;
        }
        .fade-enter-active {
            transition: opacity 2s;
        }
        .fade-enter {
            opacity: 0;
        }
    }
    &__buttons {
        width: 25%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $tablet) {
            display: none;
        }
        button {
            margin: 50px 0 0 0;
        }
            img {
                padding: 20px 40px;
                height: 80px;
                &:hover {
                    cursor: pointer;
                }
            }
    }
}