.columns {
    list-style: none;
    a {
        text-transform: none;
        li {
            font-size: 14px;
            font-weight: 300;
            color: white;
            text-decoration: underline;
        }
    }
}