.copyright {
    padding: 0 0 40px 0;
    color: $grey;
    p {
        font-size: 14px !important;
        max
        &:nth-child(2) {
            font-size: 12px !important;
            margin-top: 15px;
            text-decoration: underline;
        }
        @media (max-width: 450px) {
            max-width: 244px;
        }
    }
}