.navigation {
    display: flex;
    p {
        font-weight: 300;
        font-size: 14px;
        color: white;
        top: 20px;
        margin-bottom: 10px;
        margin-top: 13px;
        display: none;

        &:hover {
            color: white;
        }
    }
    a {
        color: white;
        text-decoration: none;
        margin-right: 32px;
        font-size: 14px;
        font-weight: 400;

        &:hover {
            color: white;
        }
    }
}